body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  font-family: sans-serif;
  display:table;
  width: 100vw;
  height: 100vh;
  border: 3px solid orange;
}

.navbar {
  background-color: orange;
  background-repeat: repeat;
  position: relative;
}

.navbar-form, .navbar-right, .search-form {
float: right;
margin: 10px;
}

.wrapper {
  padding:20px;
  height:auto;
}

.box, .music-container{
    float:left;
    margin: 10px;


}
.clear{
    clear:both;
}

.artist-form, .submit-song-form, .submit-video-form {
  border-color: black;
  border-width: thick;
  border-style: dashed;
  height: 400px;
  width: 50%;
  padding: 20px;
  padding-top: 70px;
  background-color: orange;
  margin: auto;

}

 footer {
   background-color:orange;
   display:table-row;
   height:50px;
   width:100%;
   position:fixed;
   bottom:0px;
   margin-top: 5%;
   padding-bottom: 0%;

 }

 .logo-display {
   /* height:100vh;
   width:100vw;
   display:table; */
   background-image: url("homepage-logo/frisco-rap-scene.png");
   background-repeat: no-repeat;
   background-size:  100% 200%;
   background-position: center;
   height: 75vh;
 }

 .navbar {
   margin-bottom: 0px;
 }

.homepage-welcome {
  font-family: Lobster, cursive;
  font-size: 55px;
  /* border: 3px solid green; */
  /* display: flex;
  justify-content: flex-start; */
  margin-left: 40%;
}
