body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display:table;
  height:100%;
  width:100%;
}

.navbar{
  background-color: orange;
}

.wrapper {
  padding:20px;
  height:auto;
}

.box{
    float:left;
    margin: 10px;


}
.clear{
    clear:both;
}

.artist-form, .submit-song-form, .submit-video-form {
  border-color: black;
  border-width: thick;
  border-style: dashed;
  height: 400px;
  width: 400px;
  padding: 20px;
  padding-top: 70px;
  background-color: orange;

}

 footer {
   background-color:orange;
   display:table-row;
   height:50px;
   width:100%;
   position:fixed;
   bottom:0px;
   margin-top: 5%;
   padding-bottom: 0%;

 }

.homepage-welcome {
  font-family: Lobster, cursive;
  font-size: 55px;
}
