body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  font-family: sans-serif;
}

.logo-display {
  height:100vh;
  width:100vw;
  margin-top: -2%;
  background-image: url("homepage-logo/frisco-rap-scene.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 150%;
  position: fixed;
}


.navbar{
  font-color: #d2691e;
  background-color: #d2691e;
  background-repeat: repeat;
  position: relative;
  font-family: Lobster, cursive;
}

.page-heading {
    font-family: Lobster, cursive;
    font-color: #d2691e;
    length: 100%;
}

.page-subtitle {
    font-family: Lobster, cursive;

}

.submission-instructions {
  background-color: #d2691e;
  border: thick, dashed;
}


.wrapper {
  padding:20px;
  height:auto;
}

.box, .music-container {
    float:left;
    margin: 10px;


}
.clear{
    clear:both;
}

.artist-form, .submit-song-form, .submit-video-form {
  border-color: black;
  border-width: thick;
  border-style: dashed;
  height: 400px;
  width: 50%;
  padding: 20px;
  padding-top: 70px;
  background-color: #d2691e;
  margin: auto;

}

 footer {
   background-color:#d2691e;
   display:table-row;
   height: 35px;
   width:100%;
   position:fixed;
   bottom:0px;
   margin-top: 3%;
   padding-bottom: 3%;

 }

 .fab {
   color: #000000;
 }

.homepage-welcome {
  font-family: Lobster, cursive;
  font-size: 55px;
  background-color: #d2691e;
  opacity: 0.5;

}
